# Ruby
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/bin/
/test/
/lib/trailer_vote/fixtures.rb
/lib/trailer_vote/fixtures/version.rb
**/*.rb
/ruby/
.travis.yml
Gemfile
Gemfile.lock
Rakefile
trailer_vote-fixtures.gemspec

# JavaScript
/node_modules/


